{% extends 'base.html.twig' %}
{% block title %}HousingRental - Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/forms/forms.css') }}">
{% endblock %}
{% block content %}
    <div class="formContainer">
        <form method="post">
            <h2 class="title">Connexion</h2>
            <div class="form">
                <div class="username">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="formInput" required autofocus>
                </div>
                <div class="password">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="formInput" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox">
                    <input type="checkbox" name="_remember_me">
                    <p>Se souvenir de moi</p>
                </div>
                <button class="bouton" type="submit">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}