{% extends "base.html.twig" %}
{% block title %}HousingRental - Accueil{% endblock %}
{% block content %}
    <h6>Meilleur site de location au monde</h6>
    <h3>Trouvez la propriété de vos rêves pour vos vacances parmi les catégories suivantes</h3>
    <div class="categoryCards">
        {% for category in categories %}
            <a href="{{ path('default_category', { 'alias': category.alias }) }}">
                {% if loop.index == 1 %}
                    <img src="{{ asset('assets/images/backgrounds/appartement.jpg') }}" alt="">
                {% elseif loop.index == 2 %}
                    <img src="{{ asset('assets/images/backgrounds/maison.jpg') }}" alt="">
                {% elseif loop.index == 3 %}
                    <img src="{{ asset('assets/images/backgrounds/evenement.jpg') }}" alt="">
                {% endif %}
                <div class="filter"></div>
                <div>
                    <h5>{{ category.name }}</h5>
                    {% if category.houses|length > 1 %}
                        <p>{{ category.houses|length }} propriétés</p>
                    {% else %}
                        <p>{{ category.houses|length }} propriété</p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
    <h6>Les propriétés les plus récentes</h6>
    <h3>Une sélection de propriétés les plus récentes</h3>
    <div class="categoryDiv">
        <div class="container">
            {% for property in lastHouses %}
                {% include 'components/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{#    <div class="categoryDiv">#}
{#        <div id="appartement" class="hauteurDiv"></div>#}
{#        <div class="fontDiv">#}
{#            <h2 class="titre">Appartement</h2>#}
{#            <p>Découvrez toutes nos annonces immobilières de location d'appartements, actualisées en temps réel !!!</p>#}
{#        </div>#}
{#        <div class="container">#}
{#            {% for property in apartments %}#}
{#                {% if property.category.name == 'appartement' %}#}
{#                    {% include 'components/_card.html.twig' %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#        <a href="{{ path('default_category', {'alias' : 'appartement'}) }}">Cliquez ici pour voir tous nos appartements</a>#}
{#    </div>#}
{#    <div class="categoryDiv">#}
{#        <div id="maison" class="hauteurDiv"></div>#}
{#        <div class="fontDiv">#}
{#            <h2 class="titre">Maison</h2>#}
{#            <p>Trouvez votre maison à louer. Annonces de maisons en location de particuliers et pros sur Housing Rental.</p>#}
{#        </div>#}
{#        <div class="container">#}
{#            {% for property in houses %}#}
{#                {% if property.category.name == 'maison' %}#}
{#                    {% include 'components/_card.html.twig' %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#        <a href="{{ path('default_category', {'alias' : 'maison'}) }}">Cliquez ici pour voir toutes nos maisons</a>#}
{#    </div>#}
{#    <div class="categoryDiv">#}
{#        <div id="evenement" class="hauteurDiv"></div>#}
{#        <div class="fontDiv">#}
{#            <h2 class="titre">Évènement</h2>#}
{#        </div>#}
{#        <div class="container">#}
{#            {% for property in events %}#}
{#                {% if property.category.name == 'evenement' %}#}
{#                    {% include 'components/_card.html.twig' %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#        <a href="{{ path('default_category', {'alias' : 'evenement'}) }}">Cliquez ici pour voir nos évènements</a>#}
{#    </div>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}




