{% extends "base.html.twig" %}
{% block title %}HousingRental - {{ house.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/pages/house.css') }}">
{% endblock %}
{% block  content %}
    <div class="detailsContainer">
        <div>
            <div class="houseDetailSlider">
                <img src="{{ asset('uploads/houses/' ~ house.photo) }}" alt="Photo de la propriété">
            </div>
            <div class="houseDetailsHead">
                <div>
                    <div class="houseLocation">
                        <p>{{ house.country | country_name }}</p>
                    </div>
                    <h2>{{ house.name }}</h2>
                    <div>
                        <a href="{{ path('default_home') }}">Accueil</a>
                        <i class="fas fa-chevron-right"></i>
                        <a href="{{ path('default_category', { 'alias': house.category.alias }) }}">{{ house.category.name }}</a>
                    </div>
                </div>
                <div>
                    <div class="propertyPrice">
                        <h5>{{ house.price }}€</h5>
                        <p>/nuit</p>
                    </div>
                </div>
            </div>
            <div class="houseDescription">
                <p>{{ house.description | nl2br }}</p>
            </div>
            <div class="propertyOwner">
                <h4>Contact :</h4>
                <div class="profile">
                    <div class="userPhoto">
                        {% if house.user.photo is not null %}
                            <img src="{{ asset('uploads/users/' ~ house.user.photo) }}" alt="Photo de profil de {{ house.user.firstname }} {{ house.user.lastname }}">
                        {% else %}
                            {% if house.user.gender == "Femme" %}
                                <img src="{{ asset('assets/images/placeholders/woman.jpg') }}" alt="Avatar par défaut">
                            {% else %}
                                <img src="{{ asset('assets/images/placeholders/man.jpg') }}" alt="Avatar par défaut">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        <div>
                            <p>{{ house.user.firstname }} {{ house.user.lastname }}</p>
                        </div>
                        <div>
                            <p>Propriétaire</p>
                        </div>
                        <div>
                            <i class="fas fa-mobile-alt"></i>
                            <p>{{ house.user.phone }}</p>
                        </div>
                        <div>
                            <i class="fas fa-home"></i>
                            <p>{{ house.user.country | country_name }}, {{ house.user.city }}, {{ house.user.zipcode }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}