{% extends "base.html.twig" %}
{% block title %}{{ house.name }}{% endblock %}
{% block  content%}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">{{ house.name }}</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <aside class="col-md-6">
                    <img src="{{ asset('uploads/houses/' ~ house.photo) }}"
                         class="card-img-top" alt="{{ house.name }}">
                </aside>
                <article class="col-md-6">{{ house.description | raw}}</article>
            </div>
        </div>
    </div>
{% endblock %}