{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/root.css') }}">
{% endblock %}
{% block content %}
    <nav>
        <a class="siteTitle" href="{{ path('default_home') }}">HousingRental</a>
        <ul>
            {% if category is defined %}
                {% for category in categories %}
                    <li>
                        <a href="#">{{ category.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
    <div class="adminContainer">
        <div class="adminPanel">
            <div class="sideBar">
                <div class="adminPhoto">
                    {% if app.user %}
                        <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" alt="Photo de {{ app.user.firstname }} {{ app.user.lastname }}">
                    {% else %}
                        <p>Photo</p>
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-signature"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.firstname }}{% else %}Prénom{% endif %}</p>
                </div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-signature"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.lastname }}{% else %}Nom{% endif %}</p>
                </div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.email }}{% else %}Email{% endif %}</p>
                </div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.phone }}{% else %}Téléphone{% endif %}</p>
                </div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-globe-africa"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.country }}{% else %}Pays{% endif %}</p>
                </div>
                <div class="userInfo">
                    <div class="icon">
                        <i class="fas fa-city"></i>
                    </div>
                    <p>{% if app.user %}{{ app.user.city }}{% else %}Ville{% endif %}</p>
                </div>
                <div class="divider"></div>
                <button id="getUsers">Utilisateurs</button>
                <button id="getRentals">Locations</button>
                <div class="divider"></div>
                <button id="editProfile">Éditer le profil</button>
            </div>
            <div class="mainContent">
                <div class="usersList">
                    <h2>Utilisateurs</h2>
                </div>
                <div class="rentalsList">
                    <h2>Locations</h2>
                </div>
                <div class="editForm">
                    <h2>Profil</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/javascripts/script.js') }}"></script>
{% endblock %}