{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/components/cards.css') }}">
{% endblock %}
<a class="card" href="{{ path('default_house', { 'category': property.category.alias, 'alias': property.alias, 'id': property.id }) }}">
    <img src="{{ asset('uploads/houses/' ~ property.photo) }}" alt="Card image">
    <div class="filter"></div>
    <div class="cardBody">
        <h6>{{ property.name | title }}</h6>
        <p>{{ property.city }}, {{ property.country | country_name }}. {{ property.price }}€ /nuit</p>
    </div>
    <div class="propertyCategory">
        <p>{{ property.category.name | title }}</p>
    </div>
</a>