<nav id="mainNav">
    <div class="siteLogo">
        <img src="{{ asset('assets/images/logos/navlogo.png') }}" alt="">
    </div>
    <div class="menuContainer">
        <button class="menuButton">
            <i class="fas fa-bars"></i>
        </button>
        <ul>
            <li>
                <a href="{{ path('default_home') }}">Accueil</a>
            </li>
            {% if categories is defined %}
                {% for category in categories %}
                    <li>
                        <a href="{{ path('default_category', { 'alias': category.alias }) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            <li>
                <a href="{{ path('contact_form') }}">Contact</a>
            </li>
            <li id="login">
                <a href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li id="register">
                <a href="{{ path('app_logout') }}">Inscription</a>
            </li>
            <li id="closeMenu">
                <button class="closeMenuButton">
                    <i class="fas fa-times"></i>
                </button>
            </li>
        </ul>
        <a class="loginButton" href="{{ path('app_login') }}">
            <i class="fas fa-user"></i>
        </a>
    </div>
    <div class="userButtons">
        <a href="{{ path('user_register') }}">Inscription</a>
        <a href="{{ path('app_login') }}">Connexion</a>
    </div>
</nav>