{% extends "base.html.twig" %}
{% block title %}Housing Rental{% endblock %}
{% block content %}

<div class="blockDiv">
    <div>
        <h2>{{ app.user.firstname | title }}</h2>
        <h2>{{ app.user.lastname | title}}</h2>
        <h3>Mes informations:</h3>
        <div class="infoUser">

            <div class="userProfil">
                <div><p><i class="fas fa-at"></i></p></div>
                <div><p>{{ user.email }}</p></div>

            </div>
            <div class="userProfil">
                <div><p><i class="fas fa-mobile-alt"></i></p></div>
                <div><p>0{{ user.phone }}</p></div>

            </div>
            <div class="userProfil">
                <div><p><i class="fas fa-home"></i></p></div>
                <div><p>{{ user.address }}</p>
                    <p>{{ user.zipcode }}, {{ user.city }}</p></div>

            </div>


        </div>


    </div>
    <div class="photoProfil">
        <img src="{{ asset('uploads/users/' ~ user.photo) }}" alt="photo de profil">

    </div>

</div>
    <a class="updateBtn" href="{{ path('user_update') }}">Modifier mes informations</a>






{% endblock %}