{% extends "base.html.twig" %}
{% block title %}Housing Rental{% endblock %}
{% block content %}
    <div class="hauteurDiv"></div>



        <div class="blockDiv">
            <div>
                <h2>Bienvenue {{ user.firstname }}</h2>
                <p>Ici tu vas pouvoir modifier les infos de ton profil :)</p>

            </div>
            <div class="photoProfil">
                <figure>
                    <img src="{{ asset('uploads/users/' ~ user.photo) }}" alt="photo de profil">
                    <a href=""></a>
                </figure>
            </div>

                <div class="infoUser">
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'nom' }) }}">
                        <div><p>NOM</p></div>
                        <div><p>{{ user.lastname }}</p></div>
                        <div></div>
                    </a>
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'prenom' }) }}">
                        <div><p>PRÉNOM</p></div>
                        <div><p>{{ user.firstname }}</p></div>
                        <div></div>
                    </a>
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'email' }) }}">
                        <div><p>MAIL</p></div>
                        <div><p>{{ user.email }}</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </a>
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'telephone' }) }}">
                        <div><p>TÉLÈPHONE</p></div>
                        <div><p>0{{ user.phone }}</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </a>
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'adresse' }) }}">
                        <div><p>ADRESSE</p></div>
                        <div><p>{{ user.address }} {{ user.zipcode }} {{ user.city }}</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </a>
                    <a class="userProfil" href="{{ path('user_update', { 'champ': 'mot-de-passe' }) }}">
                        <div><p>Mot de passe</p></div>
                        <div><p>******************</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </a>

                </div>



        </div>


    </div>



{% endblock %}