{% extends "base.html.twig" %}
{% block title %}Housing Rental{% endblock %}
{% block content %}

<div class="blockDiv">
    <div>
        <h2>{{ app.user.firstname | title }}</h2>
        <h2>{{ app.user.lastname | title}}</h2>
        <h3>Mes informations:</h3>
        <div class="infoUser">
            <div class="userProfil">
                <div><p>NOM</p></div>
                <div><p>{{ user.lastname }}</p></div>

            </div>
            <div class="userProfil">
                <div><p>PRÉNOM</p></div>
                <div><p>{{ user.firstname }}</p></div>

            </div>
            <div class="userProfil">
                <div><p>MAIL</p></div>
                <div><p>{{ user.email }}</p></div>

            </div>
            <div class="userProfil">
                <div><p>TÉLÈPHONE</p></div>
                <div><p>0{{ user.phone }}</p></div>

            </div>
            <div class="userProfil">
                <div><p>ADRESSE</p></div>
                <div><p>{{ user.address }}</p>
                    <p>{{ user.zipcode }}</p>
                    <p>{{ user.city }}</p></div>

            </div>
            <div class="userProfil" >
                <div><p>Mot de passe</p></div>
                <div><p>******************</p></div>

            </div>

        </div>


    </div>
    <div class="photoProfil">
        <img src="{{ asset('uploads/users/' ~ user.photo) }}" alt="photo de profil">

    </div>

</div>
    <a class="updateBtn" href="{{ path('user_update') }}">Modifier mes informations</a>





{% endblock %}